.info-header
  %ul.nav.nav-tabs
    %li
      %a{href: "#"} Visitors
    %li.active
      %a{href: "#"} Loads
    %li
      %a{href: "#"} Nodes
  .pagination
    %ul
      %li= link_to "«", '#'
      %li= link_to "1", '#'
      %li= link_to "2", '#'
      %li.active= link_to "3", '#'
      %li.disabled= link_to "»", '#'

.loads
  .loads-col
  .loads-col
  .loads-col
    - if false
      .load
        %span.uid &nbsp;
        %span.time 18:30
        %span.top /path/to/blog/post