%table.loads
  %tr
    %th IP
    %th Path
    %th QF
    %th Time
    %th Time on Page
    %th Cookie ID
  - loads.desc(:time).each do |load|
    %tr.load
      %td= load.ip
      %td= load.path
      %td= load.query.to_s + load.fragment.to_s
      %td
        = time_ago_in_words load.time, include_seconds: true
        ago
      %td= distance_of_time_in_words load.time_on_page
      %td= load.cookie_id