= content_for :head do
  = javascript_include_tag "d3"

.hidden
  = render "graph/daterange_select"
  = render "graph/data", graph: @graph

.chart-header
  .prev-container
    %a.btn{href: site_path(@site, @ui.prev_uri_hash)}
      %i.icon-chevron-left
  .info-box
    Showing #{distance_of_time_in_words @timeframe.from, @timeframe.to } 
    in #{@graph.nr_bars} bars
  .next-container
    %a.btn{href: site_path(@site, @ui.next_uri_hash)}
      %i.icon-chevron-right
  .timeframe-selection-buttons.btn-group
    %a.btn#daterange-calendar-button{"data-toggle" => "button"}
      %i.icon-calendar
    %a.btn#daterange-select-button{"data-toggle" => "button"}
      %i.icon-time

.row
  .span12
    #chart_container

= render "loads/index"


