<div class="chart-header">
  <div class="prev-container">
    <a class="btn" {{action "prev"}}><i class="icon-chevron-left"></i></a>
  </div>
  <div class="info-box">
    Showing 4 hours in 60 bars. onetwo: {{onetwo}}
  </div>
  <div class="next-container">
    <a href="#" class="btn"><i class="icon-chevron-right"></i></a>
  </div>
  <div class="timeframe-selection-buttons btn-group">
    <a class="btn" data-toggle="button" id="daterange-calendar-button" data-original-title="">
      <i class="icon-calendar"></i>
    </a>
    <a class="btn" data-toggle="button" id="daterange-select-button" data-original-title="">
      <i class="icon-time"></i>
    </a>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div id="chart_container">
      <svg class="chart2" {{bindAttr width="width" height="height"}}>
        <rect class="highlight" {{bindAttr
          x="highlightX"
          y="highlightY"
          width="highlightWidth"
          height="highlightHeight"
        }}></rect>
        <g {{bindAttr transform="transform"}}>
          {{#each controller}}
            <rect class="bar" {{
              bindAttr x="x" 
              y="y" 
              width="width" 
              height="height" 
            }}></rect>
            <text class="label" {{bindAttr x="labelX" y="labelY"}}>{{value}}</text>
          {{/each}}
          <text class="info" x="0" y="10">from: {{fromStr}}</text>
          <text class="info" x="0" y="20">to: {{toStr}}</text>
          <text class="info" x="0" y="30">bars: {{content.nrBars}}</text>
        </g>
      </svg>
      <svg class="axis" {{bindAttr width="width"}} height="20">
        {{! the D3 axis is defined in ChartView.didInsertElement() }}
      </svg>
    </div>
  </div>
</div>

{{outlet}}