<div class="info-header">
  <ul class="nav nav-tabs">
    <li {{bindAttr class="visitorsTabActive:active"}}>
      {{#linkTo "visitors"}}Visitors{{/linkTo}}
    </li>
    <li {{bindAttr class="loadsTabActive:active"}}>
      {{#linkTo "loads.page" page_nr}}Loads{{/linkTo}}
    </li>
  </ul>
  
  {{outlet "pagination"}}
  <div class="pagination">
    <ul>
      {{#each pages}}
      <li>{{#linkTo "loads.page" nr}}{{nr}}{{/linkTo}}</li>
      {{/each}}
    </ul>
  </div>
</div>
{{outlet}}


{{page_nr}}