

= form_for [@site] do |f|
  = render 'errors', target: @site
  %table
    %tr
      %td.r1= f.label :name
      %td.r2= f.text_field :name
    %tr
      %td.r1= f.label "Existing domains"
      %td.r2
        - if params[:action] == 'edit'
          = f.fields_for :domains do |df|
            .edit-domain
              = df.text_field :name
              = df.check_box :_destroy
              %a.destroy-domain{href: "#"} Delete domain
    %tr
      %td.r1= f.label "Add domain"
      %td.r2
        = f.fields_for :domains, @site.domains.build do |df|
          = df.text_field :name, value: ""
    %tr
      %td
      %td.r2= f.submit "Save"