= content_for :head do
  = javascript_include_tag "d3"

%h1= @site.name

= link_to "Settings", edit_site_path(@site)
\|
= link_to "Tracking code", action: :tracking_code

#chart_container
  #daterange-select-dropdowns-container
    #daterange-select-dropdowns
      = form_tag site_path(@site), method: :get do
        = hidden_field :graph, :nr_bars
        = link_to "< previous", site_path(@site, graph: @graph.query_params(:prev))
        = select :graph, :type, options_for_select(Graph.options_for_select, @graph.type)
        = link_to "next >", site_path(@site, graph: @graph.query_params(:next))
        %div
          beginning at
          = datetime_select :graph, :from, order: [:day, :month, :year, :hour, :minute]
        %div
          ending at
          = datetime_select :graph, :to, order: [:day, :month, :year, :hour, :minute]
        = submit_tag "Update graph"
  
  .row
    .span3
    .span6
      .alert.alert-notice{style: "margin-bottom: 0;"}
        Showing #{distance_of_time_in_words @graph.from, @graph.to } 
        in #{@graph.nr_bars} bars
    .span3.right
      .btn-group
        %a.btn#daterange-select{"data-toggle" => "button"}
          %i.icon-calendar
        %a.btn#daterange-select-form{"data-toggle" => "button"}
          %i.icon-time
      .btn-group
        %a.btn
          %i.icon-plus
        %a.btn
          %i.icon-minus
  
  = render "graph/data", graph: @graph

%p
  Group by visitors?
  = check_box :asdf, :asdf
